html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; 
  background: #E0CCCC;
}

body {
  margin: 80px 0; }

.container{
  width: 50%;
  margin: 0 auto; 
}

.container-longUrl {
  width: 100%;
  font-size: 95%;
  margin: 0 auto; 
}

.container-shortUrl {
  width: 100%;
  margin: 0 auto; 
  font-size: 95%;
}